body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header__logo {
  margin-right: 20px;
  margin-bottom: -4px;
}

.main-header__title {
  margin: 0;
  padding: 0;
  max-width: 65%;
  font-size: 25px;
}

.main-form {
  margin-left: auto;
}

.main-form__search {
  width: 200px;
  height: 36px;
  padding: 8px;
  font-size: 13px;
  border-radius: 0;
  border: 2px solid #eeeeee;
  background-color: transparent;
  -webkit-appearance: none;
}

.main-form__search:hover,
.main-form__search:focus {
  border-color: #cccccc;
}

.worker-list,
.filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-button {
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-button li {
  margin-right: 20px;
  margin-bottom: 15px;
}

.filter-button__item,
.main-form__button {
  height: 36px;
  padding: 10px;
  font-size: 13px;
  background-color: #eeeeee;
  border: none;
}

.filter-button__item:hover,
.filter-button__item:focus,
.main-form__button:hover,
.main-form__button:focus {
  background-color: #cccccc;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.filter-button__item:active,
.main-form__button:active,
.arrow-top:active {
  background-color: #483d8b !important;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #ffffff;
}

.filter-button__item--active {
  background-color: #483d8b !important;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #ffffff;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__info,
.main-footer__copyrigth {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.main-footer__error {
  margin-bottom: 10px;
}

.main-footer__info,
.main-footer__error {
  text-align: center;
  margin-right: 50px;
}

.main-footer__copyrigth {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 999;
}

.worker-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;
  -webkit-animation: move-worker 0.5s;
          animation: move-worker 0.5s;
}

.worker-item__avatar {
  width: 160px;
  height: 180px;
  margin-right: 50px;
  background-size: cover;
  background-position: top;
  border: none;
}

.worker-item__avatar:hover,
.worker-item__avatar:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.worker-item__name,
.worker-item__position,
.worker-item__departament,
.worker-item__phone,
.worker-item__birthday {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.worker-item__name,
.modal-window__title {
  font-weight: 700;
  font-size: 20px;
}

.worker-item__name--mark {
  background-color: #483d8b;
  color: #ffffff;
}

.worker-item__phone,
.worker-item__birthday {
  position: relative;
  padding-left: 30px;
}

.worker-item__phone::before,
.worker-item__birthday::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.worker-item__phone:hover::before,
.worker-item__birthday:hover::before {
  -webkit-animation: move-phone 0.5s;
          animation: move-phone 0.5s;
}

.worker-item__phone::before {
  background-image: url("../img/icon-phone.svg");
}

.worker-item__birthday::before {
  background-image: url("../img/icon-birthday.svg");
}

.worker-item__name--ico {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: -5px;
  background-image: url("../img/icon-cake.svg");
  background-size: 30px;
}

.big-photo__container {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 700px;
  margin: 0 auto;
  margin-left: -300px;
  background-size: cover;
  background-position: top;
  z-index: 1000;
  -webkit-animation: move-photo 0.5s;
          animation: move-photo 0.5s;
}

.button-close {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-cross.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}

.button-close:hover,
.button-close:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.modal-window {
  display: none;
}

.modal-window__container {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  margin: 0 auto;
  margin-left: -330px;
  padding: 30px;
  background-color: #ffffff;
  z-index: 1000;
  -webkit-animation: move-photo 0.5s;
          animation: move-photo 0.5s;
}

.modal-window__title,
.modal-window__text {
  margin: 0;
  padding: 0;
}

.modal-window__title {
  margin-bottom: 10px;
  text-align: center;
}

.modal-window__text {
  line-height: 2;
}

.modal-open {
  overflow: hidden;
}

.birthday-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.birthday-container__img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background-size: cover;
  background-position: top;
}

.birthday-container__text {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 79%;
}

.arrow-top {
  position: fixed;
  top: 15px;
  background-color: #eeeeee;
  border: none;
  color: #ffffff;
  font-size: 35px;
  cursor: pointer;
  z-index: 998;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.arrow-top::before {
  content: '▲';
}

.arrow-top:hover,
.arrow-top:focus {
  background-color: #cccccc;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

@media(max-width: 990px) {
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .main-header__title,
  .main-header__logo,
  .main-form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .main-header__title {
    text-align: center;
  }

  .main-header__logo {
    margin-right: 0;
  }

  .main-form {
    margin-top: 10px;
    margin-left: 0;
  }

  .big-photo__container {
    width: 500px;
    height: 600px;
    margin-left: -250px;
  }

  .modal-window__container {
    width: 460px;
    padding: 20px;
    margin-left: -250px;
  }
}

@media(max-width: 660px) {
  .worker-item__container {
    width: 100%;
  }

  .main-footer__info,
  .main-footer__error {
    width: 100%;
    margin-right: 0;
  }

  .big-photo__container {
    width: 400px;
    height: 500px;
    margin-left: -200px;
  }

  .modal-window__container {
    width: 380px;
    padding: 20px;
    margin-left: -210px;
  }

  .birthday-container__text {
    width: 100%;
  }
}

@media(max-width: 480px) {
  .big-photo__container {
    width: 260px;
    height: 360px;
    margin-left: -130px;
  }

  .modal-window__container {
    width: 220px;
    padding: 20px;
    margin-left: -130px;
  }
}

@-webkit-keyframes move-photo {
  0% {
    -webkit-transform: translateY(-3000px);
            transform: translateY(-3000px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-photo {
  0% {
    -webkit-transform: translateY(-3000px);
            transform: translateY(-3000px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes move-worker {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-worker {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-phone {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-3px);
            transform: translate(-3px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(3px);
            transform: translate(3px);
  }
}

@keyframes move-phone {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-3px);
            transform: translate(-3px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(3px);
            transform: translate(3px);
  }
}
